.alert {
    padding: 1rem;
    color: white;
}
.alert-danger {
    background-color: #f44336;
}
.alert-success {
    background-color: #04AA6D;
}
.alert-neutral {
    background-color: #2196F3;
}
.alert-warning {
    background-color: #ff9800;
}