#drug-links {
    margin-top: 1rem;
    padding-top: 1rem;
}
#drug-links .drug-link {
    border-top: none;
    border: 1px solid black;
    padding: 1rem;
}
#drug-links .drug-link:first-child {
    border-top: 1px solid black;
}
.drug-link:hover {
    cursor: pointer;
}
.personal-link:hover {
    cursor: pointer;
}