.drug-link {
    padding: 1rem;
    border-bottom: 1px solid black;
}
.drug-link:last-child,
.drug-link:last-of-type {
    border-bottom: none;
}
.drug-link:hover {
    cursor: pointer;
}
#synopsis {
    margin-bottom: 1rem;
}