.heading-row {
  display: flex;
  align-items: baseline;
  gap: 0rem;
}

.heading-row * {
  margin: 0;
}
.pseudonym {
    margin-right: 1rem;
}
.drug-tag {
    margin-left: 1rem;
}
.intake-administration-method-text-block {
  margin-left: 1rem;
}
.intake-administration-method-label {
  max-width: 200px;
}
.intake-administration-method-symbol {
  
}