<footer id="footer">
    <div class="wrapper">
        <div id="footer-domains-block" class="mobile-hidden">
            <div id="footer-domains-flexbox">
                <div id="footer-domains-row" class="public-sans-700">
                    <div class="footer-domain-block" onclick="redirect('http://www.drug-wiki.com')">
                        drug-wiki.com
                    </div>
                    <div class="footer-domain-block" onclick="redirect('http://www.drug-diary.com')">
                        drug-diary.com
                    </div>
                    <div class="footer-domain-block" onclick="redirect('http://www.substanceguide.com')">
                        substanceguide.com
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-nav" class="flex public-sans-300">
            <div class="flex-row items-start">
                <div class="flex-column footer-nav-column items-start justify-start">
                    <a href="/safety">Safety</a>
                    <a href="/contact-us">Contact Us</a>
                    <a href="/terms">Terms</a>
                    <a href="/cookie-policy">Cookies Policy</a>
                </div>
                <div class="flex-column footer-nav-column items-start justify-start">
                    <a href="/discord-partners">Discord Partners</a>
                    <a href="/guest-write">Contribute</a>
                    <a href="/report-a-mistake">Report a Mistake</a>
                </div>
            </div>
        </div>
    </div>
</footer>