<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="/styles/reset.css" />
<link rel="stylesheet" href="/styles/globals.css" />
<link rel="stylesheet" href="/styles/root.css" />
<link rel="stylesheet" href="/styles/structure.css" />
<link rel="stylesheet" href="/styles/theme.css" />
<link rel="stylesheet" href="/styles/typography.css" />

<link rel="stylesheet" href="/styles/components/nav.css" />
<link rel="stylesheet" href="/styles/components/footer.css" />

<link rel="stylesheet" href="/styles/fonts/public-sans.css" />
<link rel="stylesheet" href="/styles/fonts/inter.css" />

<script src="/scripts/linker.js" defer></script>